In [ ]:
#  importações para tratamentos de dados
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [8]:
df = pd.read_csv('lista de filmes.csv', sep=';', encoding='latin1')

In [15]:
df.describe()

,ano_lançamento,salas_lançamento,maximo_salas_ocupadas,publico_acumulado,renda_acumulada
count,3433.000000,3433.000000,3433.000000,3.433000e+03,3.433000e+03
mean,2013.399359,135.376639,135.228372,3.995178e+05,4.831028e+06
std,2.566679,248.139937,248.201112,1.119046e+06,1.409626e+07
min,2009.000000,1.000000,1.000000,7.000000e+00,3.000000e+01
25%,2011.000000,6.000000,6.000000,4.133000e+03,4.711824e+04
50%,2014.000000,23.000000,23.000000,2.256500e+04,2.801033e+05
75%,2016.000000,148.000000,148.000000,1.996220e+05,2.227214e+06
max,2017.000000,1774.000000,1774.000000,1.130548e+07,1.461849e+08

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3433 entries, 0 to 3432
Data columns (total 11 columns):
ano_lançamento           3433 non-null int64
titulo_obra              3433 non-null object
genero                   3433 non-null object
pais_produtor_obra       3433 non-null object
nacionalidade_obra       3433 non-null object
data_lançamento          3433 non-null object
distribuidora            3433 non-null object
salas_lançamento         3433 non-null int64
maximo_salas_ocupadas    3433 non-null int64
publico_acumulado        3433 non-null int64
renda_acumulada          3433 non-null float64
dtypes: float64(1), int64(4), object(6)
memory usage: 295.1+ KB