In [11]:
import os
import zipfile
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

sns.set(style="whitegrid")
%matplotlib inline

In [14]:
path = './'
# arquivo por formato
def filtrar_arquivo(tipo):
    lst_arq = os.listdir(path) # listando novamente o diretório para verificar arquivos csv
    return [arq for arq in lst_arq if arq[-3:] == tipo]

# Separa arquivo zip caso haja outros tipos de arquivo na pasta
lst_zip = filtrar_arquivo('zip')

# extrair arquivos do zip para trabalhar
for zp in lst_zip:
    fzp = zipfile.ZipFile(zp)
    fzp.extractall(path) 
    fzp.close()

# Separa arquivo csv caso haja outros tipos de arquivo no diretório
lst_arq = filtrar_arquivo('csv')

# criar dataframe vazio para unir as bases
df = pd.DataFrame()

# É hora de ler os arquivos csv e consolidar no dataframe
for arq in lst_arq:
    df_temp = pd.read_csv(arq, sep=';', encoding='latin-1')
    df = df.append(df_temp)
    os.remove(arq)

In [15]:
df.head()

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,BO_AUTORIA,...,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO,QUANT_CELULAR,MARCA_CELULAR
0,2013,8435,8435/2013,31/12/2013 23:56,01/01/2014 00:14,31/12/2013,A NOITE,31/12/2013,31/12/2013 23:56,Desconhecida,...,EPL9365,SP,SAO JOSE DOS CAMPOS,Preta,GM/CORSA HATCH MAXX,2010.0,2011.0,AUTOMOVEL,NaN,NaN
1,2014,1,jan/14,01/01/2014 00:14,01/01/2014 00:24,31/12/2013,A NOITE,01/01/2014,01/01/2014 00:14,Desconhecida,...,EIK5832,SP,SAO JOSE DOS CAMPOS,Preta,VW/PARATI 1.6 SURF,2008.0,2009.0,AUTOMOVEL,NaN,NaN
2,2014,2,fev/14,01/01/2014 00:41,01/01/2014 01:13,31/12/2013,A NOITE,01/01/2014,01/01/2014 00:41,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
3,2014,2,fev/14,01/01/2014 00:41,01/01/2014 01:13,31/12/2013,A NOITE,01/01/2014,01/01/2014 00:41,Desconhecida,...,EBI7617,SP,TAUBATE,Prata,VW/GOL 1.0,2007.0,2008.0,AUTOMOVEL,NaN,NaN
4,2014,2,fev/14,01/01/2014 00:41,01/01/2014 01:13,31/12/2013,A NOITE,01/01/2014,01/01/2014 00:41,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN

In [16]:
df.tail()

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,BO_AUTORIA,...,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO,QUANT_CELULAR,MARCA_CELULAR
525,2018,3358,3358/2018,29/09/2018 20:22,30/09/2018 01:58,29/09/2018,A TARDE,29/09/2018,29/09/2018 20:22,Conhecida,...,DJM6239,SP,S.PAULO,Branco,FIAT/PALIO WK TREKK 1.6,2012.0,2013.0,AUTOMOVEL,NaN,NaN
526,2018,3358,3358/2018,29/09/2018 20:22,30/09/2018 01:58,29/09/2018,A TARDE,29/09/2018,29/09/2018 20:22,Conhecida,...,FCE7669,SP,TAUBATE,Prata,HYUNDAI/HB20 1.0M COMFOR,2016.0,2016.0,AUTOMOVEL,NaN,NaN
527,2018,3358,3358/2018,29/09/2018 20:22,30/09/2018 01:58,29/09/2018,A TARDE,29/09/2018,29/09/2018 20:22,Conhecida,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
528,2018,3358,3358/2018,29/09/2018 20:22,30/09/2018 01:58,29/09/2018,A TARDE,29/09/2018,29/09/2018 20:22,Conhecida,...,DJM6239,SP,S.PAULO,Branco,FIAT/PALIO WK TREKK 1.6,2012.0,2013.0,AUTOMOVEL,NaN,NaN
529,2018,3358,3358/2018,29/09/2018 20:22,30/09/2018 01:58,29/09/2018,A TARDE,29/09/2018,29/09/2018 20:22,Conhecida,...,FCE7669,SP,TAUBATE,Prata,HYUNDAI/HB20 1.0M COMFOR,2016.0,2016.0,AUTOMOVEL,NaN,NaN

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27475 entries, 0 to 529
Data columns (total 54 columns):
ANO_BO                      27475 non-null int64
NUM_BO                      27475 non-null int64
NUMERO_BOLETIM              27475 non-null object
BO_INICIADO                 27475 non-null object
BO_EMITIDO                  27475 non-null object
DATAOCORRENCIA              27475 non-null object
PERIDOOCORRENCIA            27475 non-null object
DATACOMUNICACAO             27475 non-null object
DATAELABORACAO              27475 non-null object
BO_AUTORIA                  27475 non-null object
FLAGRANTE                   27475 non-null object
NUMERO_BOLETIM_PRINCIPAL    3964 non-null object
LOGRADOURO                  22364 non-null object
NUMERO                      27405 non-null float64
BAIRRO                      21179 non-null object
CIDADE                      22364 non-null object
UF                          22364 non-null object
LATITUDE                    21863 non-null object
LONGITUDE                   21863 non-null object
DESCRICAOLOCAL              27475 non-null object
EXAME                       8526 non-null object
SOLUCAO                     27460 non-null object
DELEGACIA_NOME              27475 non-null object
DELEGACIA_CIRCUNSCRICAO     27475 non-null object
ESPECIE                     27475 non-null object
RUBRICA                     27475 non-null object
DESDOBRAMENTO               969 non-null object
STATUS                      27266 non-null object
NOMEPESSOA                  32 non-null object
TIPOPESSOA                  32 non-null object
VITIMAFATAL                 32 non-null object
RG                          26 non-null float64
RG_UF                       26 non-null object
NATURALIDADE                30 non-null object
NACIONALIDADE               22 non-null object
SEXO                        32 non-null object
DATANASCIMENTO              30 non-null object
IDADE                       32 non-null float64
ESTADOCIVIL                 24 non-null object
PROFISSAO                   26 non-null object
GRAUINSTRUCAO               14 non-null object
CORCUTIS                    0 non-null float64
NATUREZAVINCULADA           32 non-null object
TIPOVINCULO                 32 non-null object
PLACA_VEICULO               19548 non-null object
UF_VEICULO                  19622 non-null object
CIDADE_VEICULO              19611 non-null object
DESCR_COR_VEICULO           19646 non-null object
DESCR_MARCA_VEICULO         19591 non-null object
ANO_FABRICACAO              27381 non-null float64
ANO_MODELO                  27298 non-null float64
DESCR_TIPO_VEICULO          19602 non-null object
QUANT_CELULAR               0 non-null float64
MARCA_CELULAR               0 non-null float64
dtypes: float64(8), int64(2), object(44)
memory usage: 11.5+ MB

In [21]:
df.describe()

,ANO_BO,NUM_BO,NUMERO,RG,IDADE,CORCUTIS,ANO_FABRICACAO,ANO_MODELO,QUANT_CELULAR,MARCA_CELULAR
count,27475.000000,2.747500e+04,2.740500e+04,2.600000e+01,32.000000,0.0,27381.000000,27298.000000,0.0,0.0
mean,2015.835669,1.625340e+04,3.709379e+04,4.330631e+07,34.187500,NaN,1432.745882,1431.287384,NaN,NaN
std,1.421441,1.223935e+05,5.933530e+06,1.139413e+07,10.926256,NaN,908.236292,909.351530,NaN,NaN
min,2013.000000,1.000000e+00,0.000000e+00,2.940073e+07,17.000000,NaN,0.000000,0.000000,NaN,NaN
25%,2015.000000,7.060000e+02,0.000000e+00,3.332386e+07,27.500000,NaN,0.000000,0.000000,NaN,NaN
50%,2016.000000,1.701000e+03,3.000000e+00,4.047142e+07,36.000000,NaN,2007.000000,2008.000000,NaN,NaN
75%,2017.000000,3.325500e+03,1.650000e+02,5.216106e+07,39.250000,NaN,2011.000000,2012.000000,NaN,NaN
max,2018.000000,1.710277e+06,9.821112e+08,5.941902e+07,53.000000,NaN,2018.000000,2019.000000,NaN,NaN